<div class="buscar">
  <form action="">
    <mat-form-field appearance="outline">
      <mat-label>Ciudad, País</mat-label>
      <input type="text" matInput placeholder="Elige tu destino..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nro. de Personas</mat-label>
      <input type="number" matInput placeholder="A partir de..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </form>
</div>
